@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow-card {
  /* z-index: 1; */
  border-radius: 1em;
  animation: rainbow 4s linear infinite;
  background: linear-gradient(
    70deg,
    #0ebefb,
    #ffdd40,
    #ae63e4,
    #47cf73,
    #0ebefb,
    #ffdd40,
    #ae63e4,
    #47cf73
  );
}
@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
/* .rainbow-card:after {
  content: "";
  bottom: 100px;
  top: 2px;
  left: 1px;
  right: 1px;
  height: auto;
  width: auto;
  margin: 3px;
  background: inherit;
} */

html {
  @apply font-body;
}

div.card > h1 {
  @apply text-2xl;
}

li > a {
  @apply focus:font-semibold focus:text-violet-700;
}

.card {
  @apply flex h-72 flex-col justify-center gap-12 rounded-b-3xl rounded-tr-3xl font-semibold;
}

.card > h1 {
  @apply pt-12 text-4xl;
}
